/* Extras for MC */

/* PUB A-Z Department & Services List */
div#az-list { overflow:hidden; margin-bottom:20px; }
div#az-list a, div#az-list span {float:left; display:block; margin:0 5px 0 0; padding:2px 4px; font-size:14px; text-decoration:none; text-transform:capitalize; }
div#az-list a:hover { text-decoration:underline; }
div.selected span { color:#F47621!important; font-weight:bold; }
div.unavailable span { color:#D3D3D3!important; }
.alphabet-results { clear:both; list-style:none!important; list-style-image:none!important; margin:0 0 0 0!important; padding:0!important; border-top:1px solid #E7E7E7; }
.alphabet-results li { margin-bottom:0!important; }
.alphabet-results a,
.alphabet-results a:active,
.alphabet-results a:visited,
.alphabet-results a:hover { border:0!important; margin-left:10px; display:block; width:100%; padding:1em 0; }
.alphabet-results:hover { background:#FCF4DA; }

/* Portal Columns - Content */
/* 3 column */
#portal-column-content.width-1\:2 { width:44.75%!important; }
#portal-column-content.position-1\:4 { margin-left:-71.875%!important; }
/* 2 column */
#portal-column-content.width-3\:4 { width:61%!important; }
#portal-column-content.position-0 { margin-left:-96.69%!important; }
#portal-column-two.sr { margin-left:-34.38%!important; width:31.4%!important; }
/* 1 column */
#portal-column-content.width-full { width:93.3%!important; }

/* left/right columns */
#portal-column-one { display:inline; }
#portal-column-one.position-0 { margin-left:-96.875%!important; }
#portal-column-two.sl.sr { margin-left:-25.875%!important; width:22.75%!important; }

/*CUSTOM TABLES*/
table.plain th { text-align:left; }
  table.plain, table.plain td, table.plain th { border:1px solid #E7E7E7 }
table.invisible { border-collapse:collapse; }

table.grid th { background:url(&dtml-portal_url;/portal-columns-heading-bkg.png) repeat-x; text-align:left; font-weight:normal; border:1px solid #CCCCCC; }
  table.grid, table.grid th, table.grid td { padding:5px; border-collapse: collapse; border:1px solid #E7E7E7; }
table.grid.noline td, table.grid.noline th { border:0; }
table.grid.blue th { background:url(&dtml-portal_url;/body-button-blue.png) repeat-x; color:#FFFFFF; }
  table.grid.blue.noline th, table.grid.blue.noline td { border:0; }



/* static text portlet and .portletRss - plone structure */
#portal-column-one .portletStaticText .portletHeader,
#portal-column-two .portletStaticText .portletHeader,
#portal-column-content .portletStaticText .portletHeader,
#portal-column-one .portletRss .portletHeader,
#portal-column-two .portletRss .portletHeader,
#portal-column-content .portletRss .portletHeader,
#portal-column-one .portletCollection .portletHeader,
#portal-column-two .portletCollection .portletHeader,
#portal-column-content .portletCollection .portletHeader,
.slideshowPortlet .portletHeader { color:#8B6A0C; background-color:#FAF4E1; border-top:solid 3px #F5E2AF; }

.portletRss .portletItemDetails { display:block; color:#CCCCCC; }
.portletRss .portletFooter { display:none; }

#portal-column-one .portletStaticText .portletHeader a,
#portal-column-two .portletStaticText .portletHeader a,
#portal-column-content .portletStaticText .portletHeader a,
#portal-column-one .portletRss .portletHeader a,
#portal-column-two .portletRss .portletHeader a,
#portal-column-content .portletRss .portletHeader a,
#portal-column-one .portletCollection .portletHeader a,
#portal-column-two .portletCollection .portletHeader a,
#portal-column-content .portletCollection .portletHeader a,
.slideshowPortlet .portletHeader a { border:none; color:#8B6A0C; }

/* Hiding Manage Portlets link for certain ContentWellPortlets */
.manageInHeaderPortletsLink,
.managePortletsAboveLink,
.managePortletsBelowTitleLink,
.manageFooterPortletsLink { display:none; }

/* FANCY BUTTONS */
p.button {
	display:block;
	margin:12px 0;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	color: #ffffff;
	text-shadow: none;
	text-align: center;
	}
p.button a { display:block; padding:10px; background:none; font-size:bigger; line-height:1.5em; }
p.button.blue { background: #4786b3; }
p.button.green { background: #47b381; }
p.button.orange { background: #ff8b33; }

/* FANCY LIST */
.portlet ul.fancy { list-style-image:none; list-style-type:none; margin:0 -15px; padding:0!important; }
.portlet ul.fancy li { margin-bottom:0; border-bottom:1px solid #E7E7E7; }
	.portlet ul.fancy li:last-child { border-bottom:0; }
.portletItem ul.fancy li { margin:7px 0; padding:0 7px 7px; }
.portlet ul.fancy li > a { display:block; margin:-7px -7px; padding:7px 15px; border-bottom:0; }
	.portletStaticText ul.fancy li > a:hover { background-color:#F2F2F2; border-bottom:0; }

/* PORTLET TOC DEFINITIONS */
#document-toc { margin:0 0 35px; padding:0; }
.portlet { margin:0; padding:0; border:none; }
.toc { margin:0; float:none; padding:0; width:100%; font-size:13px; font-weight:bold; }
	.toc .portletHeader { display:none !important; }
	.toc .portletItem { margin:0; padding:0; border:none; }
		.toc ol { margin:0 !important; padding:0; list-style-type:none; }
		.toc ol.TOC1Digit { margin:0; padding:0; }
			.toc ol li { margin:0 0 5px; padding:0; }
				.toc a { border-bottom:dotted 1px #161616; color:#161616; text-decoration:none; }
				#content .toc dd a { border-bottom:dotted 1px #161616; }
				.toc ol ol { display:none; margin:5px 0 10px 20px !important; }
					.toc ol ol li {  }
						.toc ol ol a { border-bottom:dotted 1px #464646; color:#464646; text-decoration:none; }

/* Personal Toolbar in Footer */
#portal-personaltools { padding:5px 20px 5px 20px; padding:0.5rem 2rem 0.5rem 2rem; }
#portal-personaltools li#anon-personalbar { display:inline; }
	#personaltools-portlet_header,
	#personaltools-portlet_abovecontent,
	#personaltools-portlet_footer { display:none; }

/* Virtual Tree */
/* */
#virtualTreeWrapper { margin:0 auto; padding:0; position:relative; width:85%; text-align:center; }
.virtualTree.wrapperContent { position:absolute; width:100%; top:0; left:0; }
.treeRow { clear:both; margin:0; padding:0; width:100%; height:70px; }
.treeRow div { float:left; margin:0; padding:0; width:10%; height:85.7%; text-align:center; }
.treeRow div { font-family:"Comic Sans MS" !important; font-weight:bold; line-height:1.35em; }
.empty { display:block; }
.Half { width:5% !important; height:100%; }
.Full { width:10% !important; height:100%; }
.flower { background:url(/service-of-remembrance/images/flower-empty-85.png) no-repeat center; }
.flower.Girl { background:url(/service-of-remembrance/images/flower-girl-85.png) no-repeat center; }
.flower.Boy { background:url(/service-of-remembrance/images/flower-boy-85.png) no-repeat center; }
.flower.Girl, .flower.Boy { padding-top:10px; }
.flower.Girl span, .flower.Boy span { position:relative; }
.flower a { border:none !important; text-decoration:none; color:#0073d4; }
.flower a:hover   { border:none !important;text-decoration:none; color:#0073d4; }
.flower a:active  { border:none !important;text-decoration:none; color:#0073d4; }
.flower a:visited { border:none !important;text-decoration:none; color:#0073d4; }

@media (max-width: 1239px) and (min-width: 1214px) {
.treeRow div { font-weight:normal; font-size:1em; }
.flower.Girl, .flower.Boy { padding-top:5px; padding-bottom:5px; }
}
@media (max-width: 1215px) and (min-width: 1024px) {
.treeRow { height:54px; }
.flower { background:url(/service-of-remembrance/images/flower-empty-65.png) no-repeat center; }
.flower.Girl { background:url(/service-of-remembrance/images/flower-girl-65.png) no-repeat center; }
.flower.Boy  { background:url(/service-of-remembrance/images/flower-boy-65.png) no-repeat center; }
.treeRow div  { font-family:Helvetica, sans-serif; font-size:0.9em; font-weight:normal; }
.flower.Girl, .flower.Boy {  padding-top:5px; padding-bottom:5px; }
}
@media (max-width: 1023px) and (min-width: 850px) {
.treeRow { height:42px; }
.flower { background:url(/service-of-remembrance/images/flower-empty-51.png) no-repeat center; }
.flower.Girl { background:url(/service-of-remembrance/images/flower-girl-51.png) no-repeat center; }
.flower.Boy  { background:url(/service-of-remembrance/images/flower-boy-51.png) no-repeat center; }
.treeRow div  { font-family:Helvetica, sans-serif; font-size:0.7em; font-weight:normal; }
.flower.Girl, .flower.Boy { padding-top:5px; padding-bottom:5px; }
}
@media (max-width: 849px) and (min-width:0px) {
#virtualTreeWrapper { marging:0 auto; width:85%; height:auto; }
#virtualTreeWrapper img { width:50%; }
.virtualTree.wrapperContent { position:static; }
.virtualTree { background:none !important; }
.treeRow { margin:0 auto; width:100%; height:auto; }
.treeRow div { float:none; display:block; width:100%; height:auto; }
.flower { display:none; background:none; }
.flower.Girl { display:block; margin:0 0 4px; padding:4px; background:#ffe3ff; border:solid 2px #ffccff; }
.flower.Boy  { display:block; margin:0 0 4px; padding:4px; background:#daf0ff; border:solid 2px #c1e6ff; }
.treeRow span { font-family:Helvetica, sans-serif; font-size:1.2em; font-weight:bold; }
.flower.Girl span, .flower.Boy span { display:block; padding-top:0; }
.virtualTree br { display:none; }
}

/* HUMAN RESOUCES SECTION IN PUB INSTANCE */
			body.template-division_homepage_wide.section-human-resources .divisionTitle .divisionLogo { display:none; width:100px; height:40px; background:url(&dtml-portal_url;/logo-divhomepage-hr-uteam.png) no-repeat 50% 50%; }
			body.template-division_homepage_wide.section-human-resources  #portlets-below div.portletsBelowContentD,
			body.template-division_homepage_wide.section-human-resources  #portlets-below div.portletsBelowContentE,
			body.template-division_homepage_wide.section-human-resources  #portlets-below div.portletsBelowContentF { clear:both; margin:12px 0 0; width:100%; }
				body.template-division_homepage_wide.section-human-resources #portlets-below .portletWrapper { height:260px; }
				body.template-division_homepage_wide.section-human-resources #portlets-below div.portletsBelowContentD .portletWrapper,
				body.template-division_homepage_wide.section-human-resources #portlets-below div.portletsBelowContentE .portletWrapper,
				body.template-division_homepage_wide.section-human-resources #portlets-below div.portletsBelowContentF .portletWrapper { height:auto; }

			body.template-division_homepage_wide.section-human-resources #portlets-below div.portletsBelowContentD { width:66%; float:right; margin-right:1px; }

			body.template-division_homepage_wide.section-human-resources #portlets-below div.portletsBelowContentE,
			body.template-division_homepage_wide.section-human-resources #portlets-below div.portletsBelowContentF { display:none; }

/* HR ONBOARDING STYLES */

.onboard { margin:20px auto; padding:5px; width:595px; background:#ffffff; color: #333; font-family: Verdana, Geneva, sans-serif; font-size: 15px; }

.onboard.onboard-interior {  }
	#uTeamBanner { margin:-10px 0 0; padding:0; width:866px; height:115px; background:url(/pub/human-resources/leadership-tools/onboarding/images/logo-header-866w.jpg) no-repeat 0 0; }
	#ob-searchwrapper { display:none; }

	.onboard h1 { font-size:28px; font-weight:bold; }

/* search portlet */

body.section-human-resources div#viewlet-above-content { position:relative; z-index:2; }
body.section-human-resources div#portlets-above { overflow:visible; position:relative; }
body.section-human-resources div#portlets-above .portletsAboveContentA { display:block !important; }

body.section-human-resources div#portlets-above div.jquery-corner { display:none; } /* turn off rounded corner for portlet in IE */
*:first-child+html body.section-human-resources div#portlets-above div.jquery-corner { display:none; } /* turn off rounded corner for portlet in IE */

	body.section-human-resources.template-flowplayer div.portletsAboveContentA { display:none; } /* turning off search portlet for flowplayer videos */
	body.section-human-resources.template-file_view div.portletsAboveContentA { display:none; } /* turning off search portlet for files */
	body.section-human-resources.template-atct_album_view div.portletsAboveContentA { display:none; } /* turning off search portlet for folder album view */
	*:first-child+html body.section-human-resources.template-flowplayer div.portletsAboveContentA { display:none; } /* turning off search portlet for flowplayer videos */
	*:first-child+html body.section-human-resources.template-file_view div.portletsAboveContentA { display:none; } /* turning off search portlet for files */
	*:first-child+html body.section-human-resources.template-atct_album_view div.portletsAboveContentA { display:none; } /* turning off search portlet for folder album view */

	body.section-human-resources.template-folder_contents div.portletsAboveContentA { display:none !important; }
	body.section-human-resources.template-atct_edit div.portletsAboveContentA { display:none !important; }

/*		body.section-human-resources div.portletWrapper { margin:0 0 10px; padding:10px; } COMMENTING OUT BECAUSE IT AFFECTS GLOBALNAV */
			body.section-human-resources div.portletsAboveContentA dl.portlet.portletSearch { margin:0; padding:0; }

				body.section-human-resources #portal-column-two dd.portletItem { margin:0; padding:0; }
					body.section-human-resources #portal-column-two form { margin:0; padding:0; }
						body.section-human-resources #portal-column-two .LSBox { margin:0 !important; padding:0; }
							body.section-human-resources #portal-column-two input.inputLabel.searchField { background-position:5% 50%; }
							*:first-child+html body.section-human-resources #portal-column-two input.inputLabel.searchField { margin-top:5px; margin-left:5px; }
							body.section-human-resources #portal-column-two input.searchButton {  }

						body.section-human-resources #portal-column-two div.searchSection { display:none; }
							body.section-human-resources #portal-column-two input#searchbox_currentfolder_only.noborder {  }
							body.section-human-resources #portal-column-two label {  }

					body.section-human-resources div.portletsAboveContentA div.visualClear {  }

				body.section-human-resources div.portletsAboveContentA dd.portletFooter { display:none; }
					body.section-human-resources div.portletsAboveContentA a.tile {  }

body.section-human-resources div#content { position:relative; z-index:1; }

/* banner buttons */

.buttons { width:auto; }
	.row { /*overflow:hidden; this messes with the mega menu in primary nav and hides it when active*/ width:auto; height:auto; }
	.row.top {  }
	.row.bottom { margin-top:5px; }

		.step { float:left; width:33%; }
		.step.one {  }
		.step.two { width:34%; }
		.step.three {  }
		.step.reward { width:100%; height:auto; }

			.step a {
				display:block;
				margin:0; padding:10px 10px 20px;
				height:60px;
				border:none;
				border-radius:6px;
				-moz-border-radius:6px;
				-webkit-border-radius:6px;
				color:#ffffff;
				text-align:center; text-decoration:none;
				}

			.step.two a { margin:0 5px; }
			.step.one a, .step.reward a { padding:20px 10px 10px; }

			.step a { background:#5482ab; }
			.step a:hover { background:#92b6d8; }
			.step a:active { background:#cccccc; }
			.step a:visited { background:#5482ab; }

			.step a.active { background:#114475; }
			.step a.active:hover { background:#92b6d8; }
			.step a.active:active { background:#cccccc; }

			.step.reward a { background:#f47621; }
			.step.reward a:hover { background:#ffab73; }
			.step.reward a:active { background:#cccccc; }
			.step.reward a:visited { background:#f47621; }

			.step.reward a.active { background:#d95700; }
			.step.reward a.active:hover { background:#ffab73; }
			.step.reward a.active:active { background:#cccccc; }

				.step span.item-header { display:block; font-size:125%; }
				.step span.item-caption { display:block; margin-top:6px; font-size:75%; }

/* expandable text */

	.onboard dl.collapsible { margin:0 !important; padding:0 !important; border:none !important; }
	.onboard dl.collapsedOnLoad { margin:0 !important; padding:0 !important; }
	.onboard dl.collapsedBlockCollapsible { margin:0 0 1.5em !important; padding:0 !important; }
	.onboard dl.expandedBlockCollapsible { margin:0 0 1.5em !important; padding:0 !important; }

		.onboard dt.collapsibleHeader {
			margin:0 0 0.5em 0 !important; padding:0 0 0 0 !important;
			background:transparent url() no-repeat 0 50% !important;
			cursor:pointer;
			font-size:1.5em !important; font-weight:normal !important;
			line-height:1em !important;
			position:relative; top:0 !important;
			}
		.onboard dl.collapsedOnLoad dt.collapsibleHeader {
			margin:0 0 0.5em 0 !important; padding:0 0 0 0 !important;
			background:transparent url() no-repeat 0 50% !important;
			}
		.onboard dl.collapsedBlockCollapsible dt.collapsibleHeader {
			margin:0 0 0.5em 0 !important; padding:0 0 0 1.25em !important;
			background:transparent url(/pub/human-resources/leadership-tools/onboarding/images/icon-16-arrow-collapse.png) no-repeat 0 50% !important;
			} /* icon is 16 x 16: path is siteroot relative */
		.onboard dl.expandedBlockCollapsible dt.collapsibleHeader {
			margin:0 0 0.5em 0 !important; padding:0 0 0 1.25em !important;
			background:transparent url(/pub/human-resources/leadership-tools/onboarding/images/icon-16-arrow-expand.png) no-repeat 0 50% !important;
			} /* icon is 16 x 16: path is siteroot relative */

			dt.collapsibleHeader span {  }

		.onboard dd.collapsibleContent { clear:both; margin:0 0 0 0 !important; padding:0 0 0 1.75em !important; }

/* end HUMAN RESOURCES SECTION */
